* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  padding-top: 1%;
  gap: 10px;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: center;
  background: black;
}

.navbar > * {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
